/*Global*/
body {
    background-color:rgb(200,230,255);
    color:rgb(200,230,255);
}

a {
    color:rgb(200,230,255);
    text-decoration: none;
}

.container {
    width:80vw;
    margin:auto;
    overflow: hidden;
}

.v-scroll {
	overflow:scroll;
}

.wrapper {
    display: block;
    height:70vh;
    margin-top: 1%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


@media(max-width:768px) {
    header li ,
    header #branding ,
    header nav,
    #newsLetter h1,
    #newsLetter form,
    #boxes .box {
        float:none;
        text-align: center;
        width:100%;
    }
    
    #newsLetter {
        margin:auto;
        text-align:center;
    }
        
    #newsLetter button {        
        display: block;
        width:25%;
        margin-top:1%;
        margin-bottom:15;
        margin-left:auto;
        margin-right:auto;
    }
    
    #newsLetter form input[type="email"] {
        display:block;
        width:48.3%;
        margin-left:auto;
        margin-right:auto;
    }
}
