/*Global*/
body {
    background-color:rgb(240,230,255);
}

a {
    color:rgb(240,230,255);
    text-decoration: none;
}

.container {
    width:80vw;
    margin:auto;
    overflow: hidden;
}

.v-scroll {
	overflow:scroll;
}

.wrapper {
    display: block;
    height:70vh;
    margin-top: 1%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}
